@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
    --white: #f2f2f2;
    --black: #323232;
    --blue: #120A86;
    --red: #ab2121;
    --green: #2a6b12;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    resize: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s ease;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    border-radius: 45px;
    background-color: #ffffff;
    padding: 20px;

    .left, .right {
        width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }

    .left {
        border-radius: 45px;
        background-color: var(--blue);
        color: var(--white);
        gap: 20px;
        align-items: center;
        justify-content: center;

        img {
            width: 250px;
            height: 250px;
        }
        h1 {
            color: var(--white);
            text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: 5px;
            font-weight: 600;
        }
    }

    .right {
        gap: 20px;
        align-items: start;
        justify-content: center;
        
        .input {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .input input {
            padding: 7px;
            border-radius: 5px;
            box-shadow: 0 0 2px 0 var(--black);
        }
        .input a {
            font-size: 0.8rem;
            text-decoration: underline;
            margin: 10px 0 0 0;
        }

        button {
            background-color: var(--blue);
            padding: 10px 15px;
            border-radius: 5px;
            color: var(--white);
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 350px;
    
        .left, .right {
            width: 100%;
            padding: 20px;
        }
    
        .left {
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            gap: 0;
            align-items: center;
            justify-content: center;
        }
        .left img {
            width: 75px;
            height: 75px;
        }
        .left h1 {
            font-size: 1.5rem;
        }
    
        .right .input label {
            font-size: 0.8rem;
        }
        .right .input input {
            padding: 5px;
        }
    }
}